html {
    margin-top: 50px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #414141;
}
#container {
    width: 1250px;
}

#logo {
    width: 200px;
    height: 50px;
    margin-left: 42%;
    margin-bottom: 50px;
}

#store-nav {
    display: inline-flex;
    position: relative;
    float: right;
}

#store-nav li {
    list-style-type: none;
    margin-left: 10px;
}

.paired-dividers {
    margin: 0 0 20px 0;
}

.paired-dividers hr {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

nav {
    position: relative;
    padding: 0;
    margin: 0;
}
#main-nav {
    list-style-type: none;
    float: left;
}

#main-nav li {
    display: inline;
    text-transform: uppercase;
    font-family: 'Droid Serif', Georgia, Times, serif;
    color: #414141;
    font-size: 1em;
    padding: 0px 25px 0px 25px;
    border-right: 1px solid #dcdcdc;
}

#main-nav li:last-child {
    border-right: none;
}

#social-nav {
    display: inline-flex;
    float: right;
}

#social-nav li {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

#recent-posts {
    margin-top: 50px;
}

.img-featured {
    border: 1px solid #dcdcdc;
    padding: 2px;
}

.recent-post-title-container {
    background: rgba(250, 250, 255, 0.9);
    border: 1px solid #FAFAFF;
    position: absolute;
    top: 250px;
    left: 25px;
    width: 375px;
    height: 115px;
    margin: 0 auto;
}

.recent-post-title-cat {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 10 0 10px 0;
    padding: 0;
}

.recent-post-title-container h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.recent-post-date {
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    color: #666;
    font-weight: lighter;
    margin: 0;
    padding: 0;

}

#join-zgym {
    text-align: center;
    margin: 50px 0 50px 0;
}

.zgym-script {
    font-family: 'Merienda One', cursive; font-size: 24px;
}

#lined-heading {
    margin: 10px 0 10px 0;
    padding: 0;
    position: relative;
}

#lined-heading h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Droid Serif', Georgia, Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    background-color: #fffcfc;
    position: relative;
    z-index: 2;
    width: fit-content
}

.header-bg {
    color: #000;
    z-index: 1;
    margin: 0;
    padding: 0;
    position: relative;
    top: -14px;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
}

.schedule-subtext {
    margin: 0;
    padding: 0;
    text-align: center;
}

.schedule-subtext a {
    font-size: 1.25em;
    color: #B272A6;
    text-decoration: none;
    border-bottom: 1pxx dotted #efefef;
}

#weekly-schedule {
    display: table;
    table-layout: fixed;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

#weekly-schedule li {
    display: inline-block;
    width: 160px;
    height: 200px;
    float: none;
    margin: 0px;
    padding: 5px;
    overflow: auto;
    opacity: .6;
}

.schedule-heading {
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    margin-left: 5px;
}

.img-schedule {
    width: 140px;
    height: 120px;
    border: 1px solid #dcdcdc;
    padding: 2px;
}

.active {
    color: #B272A6;
    opacity: 1 !important;
}

.active a {
    color: #B272A6;
}

.today {
    box-shadow: 0 10px 16px 0 rgba(0,0,0, 0.2);
    box-shadow: 0 6px 20px 0 rba(0,0,0,0.19);
    z-index: 10;
}